
*{
box-sizing: border-box;
}
.image{     
opacity: 0.8;
width: 100%;
height: 500px;
}
.image:hover{
opacity: 1.0;
}
.img{
float: right; 
width:450px;
height: 420px;
border: 2px solid black;
}
.images{
float: right; width:400px; height: 420px;border: 2px solid black;
}
h5{
font-size: 100%;
text-align: center;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(26, 224, 241);
color: brown;
}
li{
float: left;
}
li a, .dropbtn{
background-color: rgb(26, 224, 241);
display: inline-block;
color: rgb(25, 3, 83);
padding: 14px 16px;
text-decoration: none;
text-align: center;
font-size: 150%;
margin-right: 20px;
font-family: "IBM Plex Sans", sans-serif;
font-weight: 300;
font-style: normal;
font-weight: bolder;
}
li a:hover,.dropdown:hover .dropbtn{
color: rgb(74, 88, 251);
background-color: rgb(46, 34, 136);
}
li.dropdown{
display:inline-block;
}
.dropdown-content{
display: none;
position: absolute;
z-index: 1;
color: rgb(0, 0, 0);
background-color: rgb(26, 224, 241);
min-width: 160px;
}
.dropdown-content a{
display: block;
color: black;
padding: 12px 16px;
text-decoration: none;
text-align:left;
}
.dropdown-content a:hover{
background-color: rgb(64, 4, 137);
}
.dropdown:hover .dropdown-content{
display: block;

}

.leftcolumn{
float: left;
width: 75%;
padding: 20px;
background-color: aquamarine;
border: 2px solid black;
}
.rightcolumn{
float: left;
width: 25%;
background-color: rgb(132, 160, 216);
padding: 21px;
border: 2px solid black;
}
.card{
padding: 10px;
margin-top: 10px;
color:rgb(3, 66, 3) ;
background-color: rgb(166, 228, 105);
}
tr,th{
padding: 20px;
width: 25%;
}
.row:after{
content: "";
display: table;
clear: both;
}
h2 {
font-family: "Chivo Mono", monospace;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-size: 150%;
}
.card{
background-color:skyblue;
}
p {
font-family: "Niconne", cursive;
font-weight: bolder;
font-style: normal;
font-size: 200%;
}
button{
opacity: 0.5;
color: rgb(149, 241, 149);
background-color: rgb(1, 57, 8);
font-weight: bolder; 
font-size: 90%;
}
button:hover{
color: rgb(1, 30, 13);
background-color: rgb(96, 233, 188);
}

.para {
font-family: "Poltawski Nowy", serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-size: 100%;
}
h1,h2 {
font-family: "Paprika", system-ui;
font-weight: 400;
font-style: normal;
}
.frm {
font-family: "Josefin Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-size: 150%;
} 

h5,h6 {
font-family: "Asap Condensed", sans-serif;
font-weight: 1000;
font-style: normal;
font-size: 150%;
}
input{
font-size: 100%;
}

.left{
background-color:rgb(91, 244, 91);
font-size: 100%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: rgb(3, 78, 11);
width:23%;
padding: 20px;
float: left;
border: greenyellow;

}
.main{
background-color: rgb(91, 244, 91);
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 100%;
color:rgb(3, 78, 11);
padding: 20px;
width: 25%;
margin-left: 8px;
float: left;
}
.right{
background-color: rgb(91, 244, 91);
font-size: 100%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color: rgb(3, 78, 11);
padding: 20px;
width: 25%;
margin-left: 8px;
float: left;

}
.side{
background-color: rgb(91, 244, 91);
font-size: 100%;
font-family:Verdana, Geneva, Tahoma, sans-serif;
color:rgb(3, 78, 11);
padding: 20px;
width: 25%;
float: left;
margin-left: 8px;
}
.column{
height: 500px;
width: 100%;
border: 3px solid rgb(13, 6, 6);
background-color: rgb(188, 191, 233);
}
.card2{
height: 400px;
width: 23.5%;
padding: 10px;
background-color: rgb(43, 0, 255);
border: 2px solid rgb(54, 1, 85);
margin-top: 75px;
float: left;
margin-left: 15px;
}
.card2 img{
height: 300px;
width: 95%;
margin-left: 8px;
padding-left: 5px;
}
.card2 h2{
font-size: 25px;
text-align: center;
}
.footer{
background-color: rgb(186, 209, 242);
color: black;
text-align: center;
border: 3px solid black;
width: 100%;


}
.footer h2,h5,h6{
font-size: larger;
}

@media screen and (max-width:500px){
.leftcolumn,.rightcolumn{
   width: 100%;
}
}
@media screen and (max-width:500px){
.image{
   width: 100%;
}            
}

@media screen and (max-width:500px) {
li a,li{
   width: 100%;
}
}
@media screen and (max-width:600px) {
.card2,.card2 img,.card img,.card iframe,.images{
   width: 100%;
   margin: 0;
   margin-top: 10px;                
}

}
@media screen and (max-width:600px) {
.column{
    width: 100%;
    margin: 0;
   height: 1670px;
   
    
}

}

